@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Monoton&family=Playfair+Display&family=Poppins:wght@400;700&family=Raleway&display=swap');
html{
  height: 100%;
}

body{
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr 0.5fr 1fr;
  grid-auto-rows: 7% 15% 12% 15% 15% 15% 18% 4.5% 10.5% 15%;
  margin: 0;
}

@media screen and (max-width: 1200px){
  body{
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 2fr 1fr 3fr 3fr 3fr;
    margin: 0;
  }
}


h1{
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  margin: 0px;
  padding-left: 30px;
}


h2{
  font-family: 'Poppins', sans-serif;
  font-size: 3vw;
  margin: 0px;
  padding-left: 30px;
}



img[src="images/met.jpg"]{
  width: 100%;
  height: 100%;
  padding: 0;
}

img[src="images/moma.jpg"]{
  width: 100%;
  height: 100%;
  padding: 0;
}

img[src="images/whit.jpg"]{
  width: 100%;
  height: 100%;
  padding: 0;
}


@media screen and (max-width: 1200px){
  .menu{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: black;
    padding: 30px;
  }
}

img[src="images/ham.png"]{
  width: 10%;
  height: 100%;
}

.items{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 7;
  background-color: black;
  padding-top: 100px;
  text-align: center;
}


img[src="images/ham.png"]:hover .items{
  display: block;
}


@media screen and (min-width: 1200px){
  .index{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: black;
    padding-top: 10px;
  }

  .met{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: black;
    padding-top: 10px;
  }

  .moma{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: black;
    padding-top: 10px;
  }

  .whitney{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: black;
    padding-top: 10px;
  }

  .frick{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: black;
    padding-top: 10px;
  }

  .gugg{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: black;
    padding-top: 10px;
  }
}


@media screen and (min-width: 1200px){
  a[href$=".html"]{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
  }
}

@media screen and (max-width: 1200px){
  a[href$=".html"]{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 30px;
  }
}

a[href$=".html"]:hover{
  color: rgb(222, 222, 222);
}

a[href$=".html"]:active{
  color: rgb(120, 120, 120);
}


.header{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0px;
}

@media screen and (max-width: 1200px){
  .header{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}


.description{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0px;
}

@media screen and (max-width: 1200px){
  .description{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}


.metimg{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 7;
}

@media screen and (max-width: 1200px){
  .metimg{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.momaimg{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 7;
  grid-row-end: 10;
}

@media screen and (max-width: 1200px){
  .momaimg{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}

.whitimg{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 10;
  grid-row-end: 10;
}

@media screen and (max-width: 1200px){
  .whitimg{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}
